body{
  background-color: #212d4a;
  background-color: #495c8a;
  background-color: #1a2642;
  font-size: 100%;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
  padding:0;
  margin:0;
}

p{
  text-align: justify;
}
h3, h1{
  margin: 0px;
}
section {
  clear:both;
  background-color: rgb(223,223,223);
  /* border-radius: 20px; */
  padding: 0px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 80px;
  /* max-width: 80%; */
  height:auto;
  width:auto;


  /* border: 1px solid black; */
}
div {
  background-color: rgb(223,223,223);
  padding:5px;
  margin:0px;
  height:auto;
  overflow: hidden;

    /* border: 1px solid black; */
}
.navbar{
  position:fixed;
  top:0;

  width:100%;
  margin:0;
  padding:0;
  overflow: hidden;

}
.navbar a{
  float:left;
		    display: block;
			color:black;
			text-align: center;
			padding: 1.5vw;
			text-decoration: none;
			font-size: 2vw;
			font-weight: 900;
}
.navbar a:hover{
			text-decoration:underline;
			color:black;
		}
.sectionHeader  {

  clear: both;
  font-size: 1.5em;
  text-align:center;
  background-color: #8a92a1;
  color:white;
  padding: 4px;

  /* margin-left: 8px; */

   border-radius:5px;
  width:fit-content;

  margin:auto;
  margin-bottom: 8px;
  margin-top: 5px;

}
div.sectionHeader h3{
  font-size: 1.2em;
  text-align:center;
  /* margin:0px; */
  color: rgb(223,223,223);
  color: white;
}
#Top{
  text-align:center;
  color: rgb(223,223,223);
}
section#Top{
  background-color:inherit;
  margin:0px;
  margin-top:10%;
  margin-bottom: 10%;
  padding:0px;
  width:100%;
}
section#Top div{
  margin:auto;
  background-color: inherit;
}
section#Top h1{
  font-size: 3.0em;
  margin-bottom: 30px;
  text-align: center;
}
section#Top h3{
  background-color:inherit;
  width:100%;
}
section#About div div div:first-of-type{
  height:auto;
  clear: left;
  float: left;
  margin:auto;
  width:48%;
}
section#About div div:last-of-type{
  padding:0px;
}
section#About div div div:last-of-type{
  float:left;
  padding: 0px;
  padding-left: 3%;
  padding-top:3%;
  margin:auto;
  width:48%
}
section#About img{
  width:100%;
  border-radius: 20px;
}
section#About{
  margin-top: 30px;
  display:flex;
  /* margin-right: 10px; */
}
section#Skills div div div {
  height:auto;
      width:75%;
      margin:auto;

}

div#BtnContainer {
  width:auto;
  margin:auto;
}
footer {
  clear:both;
  color: rgb(223,223,223);
}
